node_modules/
xcuserdata/

*.xcscmblueprint
*.xccheckout

.DS_Store
.idea/

GoogleService-Info.plist
*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
log/*

.env
.env*.local

.powenv

.byebug_history
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/storage/*
!/storage/.keep
/public/uploads

*.key

.idea/
tmp/
.DS_Store


/config/*.key

*.iml
.gradle
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties


.gradle/
build/

local.properties

*.log

captures/
.externalNativeBuild/
.cxx/
*.apk
output.json

*.iml
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml

*.jks
*.keystore

google-services.json

*.hprof

.DS_Store

workspace.xml

Pods/